body{
    background-color: rgb(255, 249, 249);
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

nav a{
    color: rgb(139, 9, 9);
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
}

section h3 a{
    color: rgb(197, 83, 172);
    font-weight: bold;    
    text-decoration: none;
}

button {
    background-color: aqua;
    color: blanchedalmond;
    border: none;
    padding: 10px 28px;
    cursor: pointer;
}

footer{
    background-color: rgb(6, 22, 13);
    color: rgb(212, 230, 115);
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}